
/*------/ Importing FontAwesome /------*/

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


/*======================================
//--//-->   STYLES GENERALS
======================================*/

.main-container {
    margin-top: 150px;
    margin-bottom: 200px;
}

/*a {*/
/*    color: #0b0b0b;*/
/*}*/

.h1-heading {
    margin-bottom: 50px;
}

.btn-form {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

/*======================================
//--//-->  User Log In
======================================*/

#login .input-group:nth-of-type(1) {
    margin-bottom: 10px;
}

#login .input-group:nth-of-type(2) {
    margin-bottom: 30px;
}

/*======================================
//--//-->  User Register
======================================*/

#register button {
    margin-top: 20px;
}

