<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Booking Car - Car Rental</title>

    <div th:replace="fragments/head :: head"></div>

    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <style>* {
        margin: 0;
        padding: 0
    }

    html {
        height: 100%
    }

    p {
        color: grey
    }

    #heading {
        text-transform: uppercase;
        color: rgb(1, 210, 142);
        font-weight: normal
    }

    #payment-form {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

    #payment-form fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
    }

    .form-card {
        text-align: left
    }

    #payment-form fieldset:not(:first-of-type) {
        display: none
    }

    #payment-form input,
    #payment-form textarea {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px
    }

    #payment-form input:focus,
    #payment-form textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid rgb(1, 210, 142);
        outline-width: 0
    }

    #payment-form .action-button {
        width: 100px;
        background: rgb(1, 210, 142);
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

    #pay {
        cursor: pointer;
    }

    #payment-form .action-button:hover,
    #payment-form .action-button:focus {
        background-color: rgb(1, 210, 142);
    }

    #payment-form .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }

    #payment-form .action-button-previous:hover,
    #payment-form .action-button-previous:focus {
        background-color: #000000
    }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: rgb(1, 210, 142);
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: rgb(1, 210, 142);
        font-weight: normal
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

    #progressbar .active {
        color: rgb(1, 210, 142);
    }

    #progressbar li {
        list-style-type: none;
        font-size: 15px;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f002"
    }

    #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f007";
    }

    #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f09d";
    }

    #progressbar #confirm:before {
        font-family: FontAwesome;
        content: "\f00c";
    }

    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px;
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1;
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: rgb(1, 210, 142);
    }

    .progress {
        height: 20px;
    }

    .progress-bar {
        background-color: rgb(1, 210, 142);
    }

    .containerHeight {
        height: 975px;
        width: 100%;
    }

    .bookingCarImage {
        height: 290px;
        width: 437px;
        padding-bottom: 10px;
    }

    .carHeaders{
        display: inline;
    }

    .leftCarHeader {
        padding-right: 5px;
    }

    .row {
        --bs-gutter-x: 0;
        margin-right: 0px;
        margin-left: 0px;
    }

    .form-card {
        height: 560px;
    }

    .dtInputs {
        margin-bottom: 0px !important;
    }

    .step1Errors {
        display: none;
    }

    .step2Errors {
        display: none;
    }

    input[type="date"]::-webkit-clear-button { display: none; }
    </style>
</head>

<body class='snippet-body'>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="containerHeight">
    <div th:each="car: ${cars}">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 id="heading">Book Your Car Today</h2>
                    <p>Fill all form field to go to next step</p>
                    <form id="payment-form" method="post" th:action="@{/booking}" th:object="${booking}">

                    <!--                    <form id="msform" method="post" th:action="@{/booking}" th:object="${booking}">-->
                        <!-- Progress Bar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Renting</strong></li>
                            <li id="personal"><strong>Personal</strong></li>
                            <li id="payment"><strong>Payment</strong></li>
                            <li id="confirm"><strong>Confirmation</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <!-- ------------------------------------------------------ STEP 1 ----------------------------------------------------------------  -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <h2 class="fs-title">Car Booking:</h2>
                                </div>
                                <div class="row">
                                    <div class="col-7">
                                        <div>
                                            <h2 class="carHeaders leftCarHeader" th:text="${car.key.make}"></h2>
                                            <h2 class="carHeaders" th:text="${car.key.model}"></h2>
                                        </div>
                                        <br>
                                        <img class="bookingCarImage" th:src="${car.value} == null ? _ : @{'data:' +${car.key.imgType} + ';base64,'+${car.value}}"/>
                                        <p>Hourly Rate: $<span id="hourlyRate" th:text="${car.key.hourlyRate}"></span>/hr</p>
                                        <p>Daily Rate: $<span id="dailyRate" th:text="${car.key.dailyRate}"></span>/day</p>
                                        <p>Monthly Rate: $<span id="monthlyRate" th:text="${car.key.monthlyLeasingRate}"></span>/month</p>
                                        <input id="rentalPrice" hidden>
<!--                                        <input id="totalCost" class="d-none" type="number" value="0" th:field="*{total}">-->
                                    </div>
                                    <div class="col-5">

                                        <p>Renting Options:</p>
                                        <input type="radio" class="btn-check" name="priceOptions" id="priceOption1"
                                               autocomplete="off" value="Hourly" th:field="*{pricingOption}" checked="checked">
                                        <label class="btn btn-outline-primary" for="priceOption1">Hourly</label>

                                        <input type="radio" class="btn-check" name="priceOptions" id="priceOption2"
                                               autocomplete="off" value="Daily" th:field="*{pricingOption}">
                                        <label class="btn btn-outline-primary" for="priceOption2">Daily</label>

                                        <input type="radio" class="btn-check" name="priceOptions" id="priceOption3"
                                               autocomplete="off" value="Monthly" th:field="*{pricingOption}">
                                        <label class="btn btn-outline-primary" for="priceOption3">Monthly</label>

                                        <br>
                                        <br>
                                        <p id="labelPickup" for="pickup">Pickup Date:</p>
                                        <input class="dtInputs" type="date" id="pickup" name="pickup" th:field="*{pickupDate}">
                                        <p id="pickupError" class="text-danger step1Errors">Enter a valid pickup date.</p>

                                        <p id="labelDropoff" for="dropoff">Drop-off Date:</p>
                                        <input class="dtInputs" type="date" id="dropoff" name="dropoff" th:field="*{dropOffDate}">
                                        <p id="dropoffError" class="text-danger step1Errors">Enter a valid drop-off date.</p>

                                        <p id="labelPickupTime" for="pickupTime">Pickup Time:</p>
                                        <input class="dtInputs" type="time" id="pickupTime" name="pickupTime" th:field="*{pickupTime}">
                                        <p id="pickupTimeError" class="text-danger step1Errors">Enter a time between 9:00 - 20:00.</p>

                                        <p id="labelDropoffTime" for="dropoffTime">Dropoff Time: </p>
                                        <input class="dtInputs" type="time" id="dropoffTime" name="dropoffTime" th:field="*{dropOffTime}">
                                        <p id="dropoffTimeError" class="text-danger step1Errors">Enter a time between 10:00 - 21:00.</p>
                                        <p id="compareTimeError" class="text-danger step1Errors">Pickup time must be before drop-off time.</p>
                                        <p id="compareDateError" class="text-danger step1Errors">Pickup date must be before drop-off date.</p>
                                    </div>
                                </div>
                            </div>
                            <input id="step1Next" type="button" name="next" class="next action-button step1Next" value="Next">
                        </fieldset>
                        <!-- ------------------------------------------------------ STEP 2 ----------------------------------------------------------------  -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <h2 class="fs-title">Car Renter Information:</h2>
                                    <p>* Note - the information below must be associated with the person picking the car up. *</p>
                                </div>
                                <label class="fieldlabels">First Name:</label>
                                <input id="firstName" type="text" name="firstName" placeholder="First Name" th:field="*{renterFirstName}"/>
                                <p id="firstNameError" class="text-danger step2Errors">First name must be between 1 - 30 characters and must not contain special characters.</p>
                                <label class="fieldlabels">Last Name:</label>
                                <input id="lastName" type="text" name="lastName" placeholder="Last Name" th:field="*{renterLastName}"/>
                                <p id="lastNameError" class="text-danger step2Errors">Last name must be between 1 - 30 characters and must not contain special characters.</p>
                                <label class="fieldlabels">Email:</label>
                                <input id="email" type="email" name="email" placeholder="Email" th:field="*{renterEmail}"/>
                                <p id="emailError" class="text-danger step2Errors">Please provide a valid email address.</p>
                            </div>
                            <input type="button" name="next" class="next action-button step2Next" value="Next"/> <input
                                type="button"
                                name="previous"
                                class="previous action-button-previous"
                                value="Previous"/>
                        </fieldset>
                        <!-- ------------------------------------------------------ STEP 3 ----------------------------------------------------------------  -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <h2 class="fs-title">Stripe Payment: </h2>
                                </div>
                                <div class="row">
                                    <p>Base Rate: $ <span id="baseRate"></span></p>
                                    <p>Taxes: $ <span id="tax"></span></p>
                                    <p>Total: $ <span id="totalPayment"></span></p>
                                    <input type="hidden" th:field="*{total}"/>

                                </div>
                                <div class="row">
                                    <div class="form-row">
                                        <label for="card-element">
                                            Credit or debit card
                                        </label>
                                        <div id="card-element" style="width: 30em" class="form-control">
                                            <!-- A Stripe Element will be inserted here. -->
                                        </div>

                                        <!-- Used to display Element errors. -->
                                        <div id="card-errors" role="alert"></div>
                                    </div>

<!--                                    <button id="test">Submit Payment</button>-->
<!--                                    <a id="pay">Click to pay</a>-->
                                </div>
                            </div>
                            <input type="hidden" name="stripeToken" th:field="*{stripeToken}"/>

                            <input type="submit" name="next" class="next action-button" value="Submit"/> <input
                                type="button"
                                name="previous"
                                class="previous action-button-previous"
                                value="Previous"/>
                        </fieldset>
                        <!-- ------------------------------------------------------ STEP 4 ----------------------------------------------------------------  -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Success:</h2>
                                    </div>
                                    <div class="col-5"></div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">Your payment has been successfully processed.</h5>
                                        <p>A confirmation email will be sent shortly about the details of your order.</p>
                                        <p>Thank you!</p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type='text/javascript'
        src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src=''></script>
<script type='text/Javascript'>$(document).ready(function () {

    $(document).ready( function() { // Won't work without another document ready
        $("#priceOption1").prop("checked", true);
        let nextDay = new Date();
        nextDay.setDate(nextDay.getDate() + 1);
        $('#pickup').val(nextDay.toDateInputValue());
        $('#pickupTime').val("09:00");
        $('#dropoffTime').val("21:00");
    });

    $('#dropoff').css("display", "none");
    $('#labelDropoff').css("display", "none");

    $('#priceOption1').click(function() {
        cleanStep1Errors();
        $('#dropoff').css("display", "none");
        $('#labelDropoff').css("display", "none");
        $('#pickup').css("display", "");
        $('#labelPickup').css("display", "");
        $('#pickupTime').css("display", "");
        $('#labelPickupTime').css("display", "");
        $('#dropoffTime').css("display", "");
        $('#labelDropoffTime').css("display", "");
        let nextDay = new Date();
        nextDay.setDate(nextDay.getDate() + 1);
        $('#pickup').val(nextDay.toDateInputValue());
    });

    $('#priceOption2').click(function() {
        cleanStep1Errors();
        $('#pickupTime').css("display", "none");
        $('#dropoffTime').css("display", "none");
        $('#labelPickupTime').css("display", "none");
        $('#labelDropoffTime').css("display", "none");
        $('#dropoff').css("display", "");
        $('#pickup').css("display", "");
        $('#labelDropoff').css("display", "");
        $('#labelPickup').css("display", "");
        let nextDay = new Date();
        nextDay.setDate(nextDay.getDate() + 1);
        $('#pickup').val(nextDay.toDateInputValue());
        let next2Days = new Date();
        next2Days.setDate(next2Days.getDate() + 2);
        $('#dropoff').val(next2Days.toDateInputValue());
    });

    $('#priceOption3').click(function() {
        cleanStep1Errors();
        $('#pickupTime').css("display", "none");
        $('#dropoffTime').css("display", "none");
        $('#labelPickupTime').css("display", "none");
        $('#labelDropoffTime').css("display", "none");
        $('#dropoff').css("display", "");
        $('#pickup').css("display", "");
        $('#labelDropoff').css("display", "");
        $('#labelPickup').css("display", "");
        let nextDay = new Date();
        nextDay.setDate(nextDay.getDate() + 1);
        $('#pickup').val(nextDay.toDateInputValue());
        let nextMonth = new Date();
        nextMonth.setDate(nextDay.getDate() + 31);
        $('#dropoff').val(nextMonth.toDateInputValue());
    });

    var current_fs, next_fs, previous_fs; //fieldset
    var opacity;
    var current = 1;
    var steps = $("fieldset").length;

    setProgressBar(current);

    $(".next").click(function () {

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

<!-- ------------------------------------------------------ STEP 1 - START ----------------------------------------------------------------  -->
        if (current_fs.prevObject.hasClass("step1Next")) {
            cleanStep1Errors();

            const currentDate = new Date();
            const openingTime =  "09:00";
            const closingTime =  "21:00";
            const pickupDate = new Date($('#pickup').val() + "T00:00:00");
            const dropOffDate = new Date($('#dropoff').val() + "T00:00:00");
            const pickupTime = $('#pickupTime').val();
            const dropOffTime = $('#dropoffTime').val();

            const isHourlyChecked = $("#priceOption1").is(":checked");
            const isDailyChecked = $("#priceOption2").is(":checked");
            const isMonthlyChecked = $("#priceOption3").is(":checked");

            let pickupCheck = false;
            let dropOffCheck = false;
            let pickupTimeCheck = false;
            let dropOffTimeCheck = false;
            let compareTimeCheck = false;
            let compareDateCheck = false;

            const hourlyRate = parseFloat($('#hourlyRate').text());
            const dailyRate = parseFloat($('#dailyRate').text());
            const monthlyRate = parseFloat($('#monthlyRate').text());
            let total = 0;

            if (isHourlyChecked) {
                if (currentDate > pickupDate || isNaN(pickupDate)) {
                    pickupCheck = true;
                }
                if (pickupTime < openingTime || pickupTime > "20:00") {
                    pickupTimeCheck = true;
                }
                if (dropOffTime > closingTime || dropOffTime < "10:00") {
                    dropOffTimeCheck = true;
                }
                if (pickupTime > dropOffTime) {
                    compareTimeCheck = true;
                }
                const pickupTimeHour = parseFloat(pickupTime.split(':')[0]);
                const dropOffTimeHour = parseFloat(dropOffTime.split(':')[0]);
                const pickupTimeMinutes = parseFloat(pickupTime.split(':')[1]);
                const dropOffTimeMinutes = parseFloat(dropOffTime.split(':')[1]);
                let hours = dropOffTimeHour - pickupTimeHour;

                if (dropOffTimeMinutes > pickupTimeMinutes) {
                    hours++;
                }

                total = hours * hourlyRate;

                $('#rentalPrice').val(total);
                // $('#totalCost').val(total);

                $('#dropOffDate').val(null);
            }

            if (isDailyChecked) {
                if (currentDate > pickupDate || isNaN(pickupDate)) {
                    pickupCheck = true;
                }
                if (pickupDate > dropOffDate || isNaN(dropOffDate)) {
                    compareDateCheck = true;
                }

                const days = Math.ceil((dropOffDate - pickupDate) / 86400000);

                total = days * dailyRate;

                $('#rentalPrice').val(total);
                // $('#totalCost').val(total);

                $('#pickupTime').val(null);
                $('#dropoffTime').val(null);
            }

            if (isMonthlyChecked) {
                if (currentDate > pickupDate || isNaN(pickupDate)) {
                    pickupCheck = true;
                }
                if (pickupDate > dropOffDate || isNaN(dropOffDate)) {
                    compareTimeCheck = true;
                }

                const months = Math.ceil(((dropOffDate - pickupDate) / 86400000) / 30);

                total = months * monthlyRate;

                $('#rentalPrice').val(total);
                // $('#totalCost').val(total);

                $('#pickupTime').val(null);
                $('#dropoffTime').val(null);
            }

            if (pickupCheck || dropOffCheck || pickupTimeCheck || dropOffTimeCheck || compareTimeCheck || compareDateCheck) {
                checkStep1Validation(pickupCheck, dropOffCheck, pickupTimeCheck, dropOffTimeCheck, compareTimeCheck, compareDateCheck);
                return;
            }

            // calculate tax and total payment
            const SALES_TAX_RATE = 0.14975;
            const rentalPriceVal = $('#rentalPrice').val();

            const salesTax = parseFloat(rentalPriceVal * SALES_TAX_RATE).toFixed(2);
            const totalPayment = parseInt(rentalPriceVal) + parseFloat(salesTax);

            // FIXME: daily & monthly cost incorrect
            // display total cost in payment step
            $('#baseRate').text(rentalPriceVal);
            $('#tax').text(salesTax);
            $('#totalPayment').text(totalPayment);

            // setting total amount in the form
            $('input[name="total"]').val(totalPayment);
        }
<!-- ------------------------------------------------------ STEP 1 - DONE ----------------------------------------------------------------  -->

<!-- ------------------------------------------------------ STEP 2 - START ----------------------------------------------------------------  -->
        if (current_fs.prevObject.hasClass("step2Next")) {
            cleanStep2Errors();

            const firstName = $('#firstName').val();
            const lastName = $('#lastName').val();
            const email = $('#email').val();

            let firstNameCheck = false;
            let lastNameCheck = false;
            let emailCheck = false;

            if (!firstName.match(/^[a-zA-Z '-.,]{1,30}$/) || firstName == "") {
                firstNameCheck = true;
            }

            if (!lastName.match(/^[a-zA-Z '-.,]{1,30}$/) || lastName == "") {
                lastNameCheck = true;
            }

            if (email == "" || !email.match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
                emailCheck = true;
            }

            if (firstNameCheck || lastNameCheck || emailCheck) {
                checkStep2Validation(firstNameCheck, lastNameCheck, emailCheck);
                return;
            }
        }
<!-- ------------------------------------------------------ STEP 2 - END ----------------------------------------------------------------  -->

        //Add Class Active
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function (now) {
        // for making fieldset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                next_fs.css({'opacity': opacity});
            },
            duration: 500
        });
        setProgressBar(++current);
    });

    $(".previous").click(function () {

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //Remove class active
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();

        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function (now) {
        // for making fieldset appear animation
                opacity = 1 - now;

                current_fs.css({
                    'display': 'none',
                    'position': 'relative'
                });
                previous_fs.css({'opacity': opacity});
            },
            duration: 500
        });
        setProgressBar(--current);
    });

    $("#payment-form").submit(function (e) {
        e.preventDefault();

        // Create a token or display an error when the form is submitted.
        stripe.createToken(card).then(function(result) {
            if (result.error) {
                console.log(result.error)
                // Inform the customer that there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // $('#token').attr('value', result.token.id);
                const stripeToken = $('input[name="stripeToken"]');
                stripeToken.val(result.token.id);
                let form = $('#payment-form');
                console.log(form.serialize());

                $.ajax({
                    url: form.attr('action'),
                    data: form.serialize(),
                    type: "post",
                    success:function(){

                        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                        next_fs.show();

                        current_fs.animate({opacity: 0}, {
                            step: function (now) {
                                opacity = 1 - now;
                                current_fs.css({
                                    'display': 'none',
                                    'position': 'relative'
                                });
                                next_fs.css({'opacity': opacity});
                            },
                            duration: 500
                        });
                        setProgressBar(++current);
                    }
                });
            }
        });


    });

    function setProgressBar(curStep) {
        let percent = parseFloat(100 / steps) * curStep;
        percent = percent.toFixed();
        $(".progress-bar")
            .css("width", percent + "%")
    }

    // pickupCheck || dropOffCheck || pickupTimeCheck || dropOffTimeCheck || compareTimeCheck || compareDateCheck
    function checkStep1Validation(error1, error2, error3, error4, error5, error6) {
        if (error1) {
            $('#pickupError').css({ display: "block" });
        } else {
            $('#pickupError').css({ display: "none" });
        }
        if (error2) {
            $('#dropoffError').css({ display: "block" });
        } else {
            $('#dropoffError').css({ display: "none" });
        }
        if (error3) {
            $('#pickupTimeError').css({ display: "block" });
        } else {
            $('#pickupTimeError').css({ display: "none" });
        }
        if (error4) {
            $('#dropoffTimeError').css({ display: "block" });
        } else {
            $('#dropoffTimeError').css({ display: "none" });
        }
        if (error5) {
            $('#compareTimeError').css({ display: "block" });
        } else {
            $('#compareTimeError').css({ display: "none" });
        }
        if (error6) {
            $('#compareDateError').css({ display: "block" });
        } else {
            $('#compareDateError').css({ display: "none" });
        }
    }

    // firstNameCheck || lastNameCheck || emailCheck
    function checkStep2Validation(error1, error2, error3) {
        if (error1) {
            $('#firstNameError').css({ display: "block" });
        } else {
            $('#firstNameError').css({ display: "none" });
        }
        if (error2) {
            $('#lastNameError').css({ display: "block" });
        } else {
            $('#lastNameError').css({ display: "none" });
        }
        if (error3) {
            $('#emailError').css({ display: "block" });
        } else {
            $('#emailError').css({ display: "none" });
        }
    }

    function cleanStep1Errors() {
        $('#pickupError').css({ display: "none" });
        $('#dropoffError').css({ display: "none" });
        $('#pickupTimeError').css({ display: "none" });
        $('#dropoffTimeError').css({ display: "none" });
        $('#compareTimeError').css({ display: "none" });
        $('#compareDateError').css({ display: "none" });
    }

    function cleanStep2Errors() {
        $('#firstNameError').css({ display: "none" });
        $('#lastNameError').css({ display: "none" });
        $('#emailError').css({ display: "none" });
    }

    Date.prototype.toDateInputValue = (function() {
        let local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0,10);
    });
}); // .next click
<!-- ------------------------------------------------------ STEP 3 - START ----------------------------------------------------------------  -->

$('#pay').click(function () {
   const bookingId =
   $.ajax({
       url: `/booking/payment/${id}`,
       method: 'POST',
       contentType : 'application/json; charset=utf-8',
       data: JSON.stringify(userUpdateObj),
       success: function() {
           console.log('user has been edited');
       },
       error: function (error) {
           console.log(error);
       }
   });
});

</script>
<script src="https://js.stripe.com/v3/"></script>
<script>
    // Set your publishable key: remember to change this to your live publishable key in production
    // See your keys here: https://dashboard.stripe.com/apikeys
    var stripe = Stripe('pk_test_Ct6QfTOvJQgIpq0EdL9InUYj');
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    var style = {
        base: {
            // Add your base input styles here. For example:
            fontSize: '16px',
            color: '#32325d',
        },
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Create a token or display an error when the form is submitted.
    // var form = document.getElementById('payment-form');
    // form.addEventListener('submit', function(event) {
    //     event.preventDefault();
    //
    //     stripe.createToken(card).then(function(result) {
    //         if (result.error) {
    //             console.log(result.error)
    //             // Inform the customer that there was an error.
    //             var errorElement = document.getElementById('card-errors');
    //             errorElement.textContent = result.error.message;
    //         } else {
    //             // Send the token to your server.
    //             stripeTokenHandler(result.token);
    //             console.log(result.token)
    //         }
    //     });
    // });

    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        // form.submit();
    }
</script>
</body>
</html>