<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Car List - Car Rental</title>

      <div th:replace="fragments/head :: head"></div>

  </head>
  <body>

  <div th:replace="fragments/navbar :: navbar"></div>
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Cars <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Choose Your Car</h1>
          </div>
        </div>
      </div>
    </section>
		

		<section class="ftco-section bg-light">
            <div class="mb-5 text-center row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="textSearch" onkeyup="function searchJS() {
            var input = document.getElementById('textSearch');
            var filter = input.value.toUpperCase();
            var list = document.getElementById('allCars');
            var item = list.getElementsByClassName('searchBarJS');

            for (var i = 0; i < item.length; i++) {
            var a = item[i].getElementsByTagName('a')[0];
            var txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                item[i].style.display = '';
                } else {
                    item[i].style.display = 'none';
                }
            }
        }
        searchJS()" placeholder="Search for a model...">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary" style="width:100%;height:100%;font-size:18px;" onclick="function toggleAdvancedSearch() {
                        if (document.getElementById('advancedSearchDiv').style.display === 'block') {
                            document.getElementById('advancedSearchDiv').style.display = 'none';
                        } else {
                            document.getElementById('advancedSearchDiv').style.display = 'block';
                        }
                    }toggleAdvancedSearch()">Advanced Search</button>
                    <a class="btn btn-secondary" href="/cars">Reset</a>
                </div>
                <div class="col-md-2"><span style="display: none;">filler</span></div>
            </div>
    	<div class="container">
            <div id="advancedSearchDiv" class="row mb-5" style="display: none;">
                <div class="container">
                    <form>
                        Daily Price Range:
                        <br>
                        <input type="radio" class="btn-check" name="priceRangeOptions" id="priceRangeOption1" autocomplete="off" value="null" checked="checked">
                        <label class="btn btn-outline-primary" for="priceRangeOption1">No Choice</label>

                        <input type="radio" class="btn-check" name="priceRangeOptions" id="priceRangeOption2" autocomplete="off" value="50to75">
                        <label class="btn btn-outline-primary" for="priceRangeOption2">$50 - $75</label>

                        <input type="radio" class="btn-check" name="priceRangeOptions" id="priceRangeOption3" autocomplete="off" value="76to100">
                        <label class="btn btn-outline-primary" for="priceRangeOption3">$76 - $100</label>

                        <input type="radio" class="btn-check" name="priceRangeOptions" id="priceRangeOption4" autocomplete="off" value="101to125">
                        <label class="btn btn-outline-primary" for="priceRangeOption4">$101 - $125</label>

                        <input type="radio" class="btn-check" name="priceRangeOptions" id="priceRangeOption5" autocomplete="off" value="126to150">
                        <label class="btn btn-outline-primary" for="priceRangeOption5">$126 - 150</label>

                        <input type="radio" class="btn-check" name="priceRangeOptions" id="priceRangeOption6" autocomplete="off" value="151plus">
                        <label class="btn btn-outline-primary" for="priceRangeOption6">$151+</label>
                        <br>


                        Transmission:
                        <br>
                        <input type="radio" class="btn-check" name="transmissionOptions" id="transmissionOption1" autocomplete="off" value="null" checked="checked">
                        <label class="btn btn-outline-primary" for="transmissionOption1">No Choice</label>

                        <input type="radio" class="btn-check" name="transmissionOptions" id="transmissionOption2" autocomplete="off" value="Automatic">
                        <label class="btn btn-outline-primary" for="transmissionOption2">Automatic</label>

                        <input type="radio" class="btn-check" name="transmissionOptions" id="transmissionOption3" autocomplete="off" value="Manual">
                        <label class="btn btn-outline-primary" for="transmissionOption3">Manual</label>
                        <br>


                        Mileage:
                        <br>
                        <input type="radio" class="btn-check" name="mileageOptions" id="mileageOption1" autocomplete="off" value="null" checked="checked">
                        <label class="btn btn-outline-primary" for="mileageOption1">No Choice</label>

                        <input type="radio" class="btn-check" name="mileageOptions" id="mileageOption2" autocomplete="off" value="less10000">
                        <label class="btn btn-outline-primary" for="mileageOption2">10,000 or Less</label>

                        <input type="radio" class="btn-check" name="mileageOptions" id="mileageOption3" autocomplete="off" value="10001to30000">
                        <label class="btn btn-outline-primary" for="mileageOption3">10,001 - 30,000</label>

                        <input type="radio" class="btn-check" name="mileageOptions" id="mileageOption4" autocomplete="off" value="30001to60000">
                        <label class="btn btn-outline-primary" for="mileageOption4">30,001 - 60,000</label>

                        <input type="radio" class="btn-check" name="mileageOptions" id="mileageOption5" autocomplete="off" value="60001to100000">
                        <label class="btn btn-outline-primary" for="mileageOption5">60,001 - 100,000</label>

                        <input type="radio" class="btn-check" name="mileageOptions" id="mileageOption6" autocomplete="off" value="more100000">
                        <label class="btn btn-outline-primary" for="mileageOption6">100,001+</label>
                        <br>

                        Fuel Type:
                        <br>
                        <input type="radio" class="btn-check" name="fuelTypeOptions" id="fuelTypeOption1" autocomplete="off" value="null" checked="checked">
                        <label class="btn btn-outline-primary" for="fuelTypeOption1">No Choice</label>

                        <input type="radio" class="btn-check" name="fuelTypeOptions" id="fuelTypeOption2" autocomplete="off" value="Gasoline">
                        <label class="btn btn-outline-primary" for="fuelTypeOption2">Gasoline</label>

                        <input type="radio" class="btn-check" name="fuelTypeOptions" id="fuelTypeOption3" autocomplete="off" value="Electric">
                        <label class="btn btn-outline-primary" for="fuelTypeOption3">Electric</label>

                        <input type="radio" class="btn-check" name="fuelTypeOptions" id="fuelTypeOption4" autocomplete="off" value="Hybrid">
                        <label class="btn btn-outline-primary" for="fuelTypeOption4">Hybrid</label>

                        <input type="radio" class="btn-check" name="fuelTypeOptions" id="fuelTypeOption5" autocomplete="off" value="Diesel">
                        <label class="btn btn-outline-primary" for="fuelTypeOption5">Diesel</label>
                        <br>

                        Seats:
                        <br>
                        <input type="radio" class="btn-check" name="seatsOptions" id="seatsOption1" autocomplete="off" value="null" checked="checked">
                        <label class="btn btn-outline-primary" for="seatsOption1">No Choice</label>

                        <input type="radio" class="btn-check" name="seatsOptions" id="seatsOption2" autocomplete="off" value="2">
                        <label class="btn btn-outline-primary" for="seatsOption2">2</label>

                        <input type="radio" class="btn-check" name="seatsOptions" id="seatsOption3" autocomplete="off" value="3">
                        <label class="btn btn-outline-primary" for="seatsOption3">3</label>

                        <input type="radio" class="btn-check" name="seatsOptions" id="seatsOption4" autocomplete="off" value="4">
                        <label class="btn btn-outline-primary" for="seatsOption4">4</label>

                        <input type="radio" class="btn-check" name="seatsOptions" id="seatsOption5" autocomplete="off" value="5plus">
                        <label class="btn btn-outline-primary" for="seatsOption5">5+</label>
                        <br>

                        <br>
                        <input class="btn btn-primary form-control" type="submit" value="Search">
                    </form>
                </div>
            </div>
    		<div id="allCars" class="row">
    			<div class="col-md-4 searchBarJS" th:each="car: ${cars}">
    				<div class="car-wrap rounded ftco-animate">
						<img class="img rounded d-flex align-items-end" th:src="${car.value} == null ? _ : @{'data:' +${car.key.imgType} + ';base64,'+${car.value}}"/>
    					<div class="text">
    						<h2 class="mb-0"><a id="carModel" th:href="@{/car/{id}(id=${car.key.id})}" th:text="${car.key.model}"></a></h2>
    						<div class="d-flex mb-3">
	    						<span class="cat" th:text="${car.key.make}"></span>
								<p class="price ml-auto" th:text="${car.key.dailyRate}"></p><span>$/day</span>
    						</div>
    						<p class="d-flex mb-0 d-block">
                                <a th:href="@{/booking/{id}(id=${car.key.id})}" class="btn btn-primary py-2 mr-1">Book now</a>
                                <a th:href="@{/car/{id}(id=${car.key.id})}" class="btn btn-secondary py-2 ml-1">Details</a>
                            </p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

  <div th:replace="fragments/footer :: footer"></div>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>