<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign Up</title>

    <div th:replace="fragments/head :: head"></div>

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<main class="main-container" id="register">
    <h1 class="display-4 text-center h1-heading">Sign Up</h1>
    <div class="row justify-content-center mt-10">

        <div class="col col-md-5">

            <form th:action="@{/register}" th:object="${userDTO}" method="POST">

                <div class="form-row py-1">
                    <label>First Name*</label>
                    <input type="text" th:field="*{firstName}" th:errorClass="is-invalid" class="form-control"/>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid-feedback"></p>
                </div>

                <div class="form-row py-1">
                    <label>Last Name*</label>
                    <input type="text" th:field="*{lastName}" th:errorClass="is-invalid" class="form-control"/>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback"></p>
                </div>

                <div class="form-row py-1">
                    <label>Email*</label>
                    <input type="email" th:field="*{email}" th:errorClass="is-invalid" class="form-control"/>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></p>
                </div>

                <div class="form-row py-1">
                    <label>Password*</label>
                    <input type="password" th:field="*{password}" th:errorClass="is-invalid" class="form-control"/>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></p>
                </div>

                <div class="form-row py-1">
                    <label>Phone Number</label>
                    <input type="text" th:field="*{phoneNumber}" th:errorClass="is-invalid" class="form-control"/>
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="invalid-feedback"></p>
                </div>

                <div class="form-row py-1 text-center">
                    <button type="submit" class="btn btn-secondary btn-block btn-form">
                        Create your account
                    </button>
                </div>
            </form>

            <p class="py-2">Already have an account? <a href="/login">Sign In</a></p>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/loader :: loader"></div>
</body>
</html>